<div
  class="bg-gray-50 h-auto w-[350px] min-h-[200px] rounded-md p-4 flex flex-col flex-shrink-0"
>
  <div class="w-full flex items-center justify-between">
    <div class="flex gap-2 items-center">
      <h2 class="text-slate-900 text-xl font-extrabold">Todo</h2>
      <span
        class="inline-flex items-center rounded-md bg-purple-50 px-2 py-1 text-xs font-medium text-purple-700 ring-1 ring-inset ring-purple-700/10"
        >3 task</span
      >
    </div>

    <button
      type="button"
      class="p-2 rounded-xl text-sm flex items-center gap-2 cursor-pointer hover:bg-gray-300 hover:shadow-sm transition-all duration-200"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-4 h-4"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 4.5v15m7.5-7.5h-15"
        />
      </svg>
      <span class="text-sm" (click)="openModal()">Add task</span>
    </button>
  </div>
  <div class="w-full py-3 flex flex-col gap-2">
    <app-task></app-task>
    <app-task></app-task>
    <app-task></app-task>
  </div>
</div>

@if(openAddTaskModal){
<app-add-task-modal (closeEvent)="closeModal()"></app-add-task-modal>
}
