<div
  class="bg-gray-50 h-auto w-[350px] min-h-[200px] rounded-md p-4 flex flex-col justify-between flex-shrink-0"
>
  <div class="w-full">
    <div class="w-full flex items-center justify-between">
      <h2 class="text-slate-900 text-xl font-extrabold">Todo</h2>
      <span
        class="inline-flex items-center rounded-md bg-purple-50 px-2 py-1 text-xs font-medium text-purple-700 ring-1 ring-inset ring-purple-700/10"
        >3 task</span
      >
    </div>
    <div class="w-full py-3 flex flex-col gap-2">
      <app-task></app-task>
      <app-task></app-task>
      <app-task></app-task>

      <app-task></app-task>
      <app-task></app-task>
      <app-task></app-task>
      <app-task></app-task>
      <app-task></app-task>
    </div>
  </div>
  <div>
    <button
      type="button"
      class="w-full rounded-md py-2 bg-gray-400 text-white shadow-md text-sm"
    >
      Add task
    </button>
  </div>
</div>
