<div class="w-screen h-screen bg-white px-6 font-sans">
  <div class="flex justify-between items-center py-5">
    <h1 class="text-slate-900 text-3xl font-extrabold">Ereyomi Board</h1>
    <button
      type="button"
      class="px-5 py-3 bg-violet-600 text-white rounded-md text-sm flex items-center gap-2 cursor-pointer hover:bg-violet-500"
      (click)="openColumnModal()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 4.5v15m7.5-7.5h-15"
        />
      </svg>

      Add Task Column
    </button>
  </div>
  <div class="w-full flex flex-row overflow-auto gap-6">
    <app-task-list></app-task-list>
    <app-task-list></app-task-list>
    <app-task-list></app-task-list>
    <app-task-list></app-task-list>
    <app-task-list></app-task-list>
    <app-task-list></app-task-list>
    <app-task-list></app-task-list>
  </div>
</div>

@if(openAddColumnModal) {
<app-task-column-modal (closeEvent)="closeColumnModal()"></app-task-column-modal>
}
