<div class="w-screen h-screen bg-white px-6 font-sans">
  <div class="flex justify-between items-center py-5">
    <h1 class="text-slate-900 text-3xl font-extrabold">Ereyomi Board</h1>
    <button
      id="add_task_status"
      type="button"
      class="px-5 py-2 h-[40px] bg-violet-600 text-white rounded-md text-sm flex items-center gap-2 cursor-pointer hover:bg-violet-500"
      (click)="openColumnModal()"
      data-cy="open-add-task-status-modal-button"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 4.5v15m7.5-7.5h-15"
        />
      </svg>

      Add Task Status
    </button>
  </div>

  <ng-container *ngIf="storeData().length; else noDataTemplate">
    <div class="w-full flex flex-row overflow-auto gap-6">
      @for(column of storeData(); track column.id) {
      <app-task-list [taskColumn]="column"></app-task-list>
      }
    </div>
  </ng-container>
  <ng-template #noDataTemplate>
    <div
      class="w-full flex flex-col items-center justify-center mt-48 md:mt-80"
    >
      <p class="text-9xl text-gray-300 font-extrabold">No data</p>
      <p class="text-2xl text-gray-300 font-extralight">
        (Please Add Task Status to be able to create task)
      </p>
    </div>
  </ng-template>
</div>

@if(openAddColumnModal()) {
<app-task-status-modal
  (closeEvent)="closeColumnModal()"
></app-task-status-modal>
}
